.elements-carrousel-edit {
  width: 700px;
  height: 200px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.elements-carrousel-edit img {
  height: 100%;
}
.buttons-change-position svg {
  cursor: pointer;
}
.elements-carrousel-edit p {
  min-width: 15px;
}
.elements-carrousel-edit svg {
  cursor: pointer;
}
